


html{
	font-family: "SF Pro Display","SF Pro Icons",
	"Helvetica Neue",
	"Helvetica","Arial",sans-serif;
}
img.cangiua{
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
#bphone-title{
	
	background-color: #111111;
	background-repeat: no-repeat;
	height: 1300px;
}
#bphone-title-1{
	height: 700px;	
}

#bphone-title-2{

}
#bphone-title-2 p{
	color: white;
}
#bphone-title-2-text-1{

	font-size: 40px;
	font-weight: bold;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}
#bphone-title-2-text-2{
	font-weight: 600;
	font-size: 70px;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	margin-top: -45px;
}
#bphone-title-2-text-3{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	line-height: 1.5;
	margin-top: -50px;
}
#bphone-title-2-text-4{
	width: 300px;
	margin: 0 auto;
}
#bphone-title-2-text-4 p{
	border: 1px solid;
	border-radius: 30px;
	text-align: center;
	font-weight: 400;
	font-size: 50px;

}

#bphone-title-2-text-4 a{

	text-decoration: none;
	color: white;
}
#bphone-title-2-text-4 p:hover { 
	background-color: #444444;
}


#screen{
	background-image: url('images/bground.png');
	background-repeat: no-repeat;
}
#screen-text {

    text-align: center;
    font-size: 64px;
    font-weight: 600;
    
}
#screen-text2 {
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 300px;
    margin: 0 auto;
}
#screen-image{

}

#camera{

}
#camera-content1{
	background-color: #fafafa;
}
#camera-content1-text{
	text-align: center;
    font-size: 64px;
    font-weight: 600;
    
}
#camera-content1-text2{
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 800px;
    margin: 0 auto;
}
#camera-content1-image{
}
#camera-content2{
	margin-top: 100px;
	height: 750px;
}
#camera-content2-image{
}
#camera-content2-text{
	margin-top: 100px;
}

.left{
	width: 50%;
	float: left;
	height: 150px;
	
}
.right{
	width: 50%;
	float: right;
	height: 150px;

}

.format-content-left{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}


.format-content-right{
	
	font-size: 27px;
    line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 500px;
}
.clear-float{
	clear: both;
}
#camera-content3{
	margin-top: 100px;
	
	height: 950px;

}
#camera-content3-image{
}
#camera-content3-text{
	margin-top: 100px;
}

#power{
	margin-top: 100px;
	
}

#power-text{
	text-align: center;
    font-size: 64px;
    font-weight: 600;
    background-color: #fafafa;
    
}
#power-text2{
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 800px;
    margin: 0 auto;
}
#power-image{
}

#sound{
	margin-top: 100px;
	height: 920px;

	
}

#sound-text{
	text-align: center;
    font-size: 64px;
    font-weight: 600;
    background-color: #fafafa;
    
}
#sound-text2{
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 800px;
    margin: 0 auto;
}
#sound-image{
	background-image: url('images/music.jpg');

}

#bos{
	margin-top: 100px;
	height: 1120px;
	background-color: #fafafa;
	
}

#bos-text{
	text-align: center;
    font-size: 64px;
    font-weight: 600;
    
}
#bos-text2{
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 800px;
    margin: 0 auto;
}
#bos-image{
}

#cpu{
	margin-top: 100px;
	height: 150px;

}
#cpu-image{

}
#cpu-text{
	margin-top: 100px;
}

#game{
	margin-top: 100px;
	height: 600px;
	

}
#game-image{

}
#game-text{
	margin-top: 100px;
}
#water{
	margin-top: 100px;
	height: 780px;
	width: 100%;
	background-color: #fafafa;

	
}

#water-text{
	text-align: center;
    font-size: 64px;
    font-weight: 600;

    
}
#water-text2{
	font-size: 40px;
	text-align: center;
	line-height: 1.2963;
    font-weight: 600;
    letter-spacing: .008em;
    max-width: 800px;
    margin: 0 auto;
}
#water-image{
}